@font-face {
  font-family: ARKANOID;
  src: url("Arka_solid.ttf");
}

body {
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
  overflow: hidden;
}

#pantalla {
  border: solid #808000 1px;
}
